@import "../../styles/constants.scss";
@import "../../styles/mixin";


.title{

@include sectionTitle($dark_yellow)
}

.subtitle{
font-size: $desktop1440_subtitles_subtitle1_size;
color: $foggy_white;
letter-spacing: $letter_spacing_title2;
text-align: center;
padding-bottom: 1rem;
}

.servicesPage {
  max-width: $wrapper_max-width;
  margin: 0 auto;
  background-color: rgba($deep_blue, 0.9);
}

.ourWish{
  padding-bottom: 4rem;
}

.wishText{
  font-family: $font_family_Dancing_Script;
  font-size: $desktop1440_headings_h2_size;
  text-transform: capitalize;
  color: $dark_yellow;
  text-align: center;
  position: relative;
}

.caption{
    font-family: $font_family_Dancing_Script;
  font-size: $desktop1440_subtitles_subtitle1_size;
  text-transform: capitalize;
  color: $dark_yellow;
  position: absolute;
  bottom: -1.5rem;

}