// -------------------------------------------FONT-SIZE------------------------------------------------------

$desktop1440_headings_h1_size: 56px;
$desktop1440_headings_h2_size: 56px;
$desktop1440_headings_h3_size: 40px;
$desktop1440_headings_h4_size: 36px;
$desktop1440_headings_h5_size: 24px;
$desktop1440_headings_h6_size: 20px;

$desktop1440_subtitles_subtitle1_size: 28px;
$desktop1440_subtitles_subtitle2_size: 22px;
$desktop1440_subtitles_subtitle3_size: 16px;

$desktop1440_bodyText_body1_size: 20px;
$desktop1440_bodyText_body2_size: 16px;

// -------------------------------------------FONT-WEIGHT------------------------------------------------------
$desktop1440_headings_h1_weight: 800;
$desktop1440_headings_h2_weight: 700;
$desktop1440_headings_h3_weight: 700;
$desktop1440_headings_h4_weight: 700;
$desktop1440_headings_h5_weight: 600;

$desktop1440_subtitles_subtitle1_weight: 600;
$desktop1440_subtitles_subtitle2_weight: 400;

$desktop1440_bodyText_body1_weight: 500;
$desktop1440_bodyText_body2_weight: 400;

// -------------------------------------------LINE HEIGHT------------------------------------------------------
$desktop1440_headings_h1_lineHeight: 80px;
$desktop1440_headings_h2_lineHeight: 80px;
$desktop1440_headings_h3_lineHeight: 60px;
$desktop1440_headings_h4_lineHeight: 40px;
$desktop1440_headings_h5_lineHeight: 36px;
$desktop1440_headings_h6_lineHeight: 28px;

$desktop1440_subtitles_subtitle1_lineHeight: 50px;
$desktop1440_subtitles_subtitle2_lineHeight: 40px;


$desktop1440_bodyText_body1_lineHeight: 34px;
$desktop1440_bodyText_body2_lineHeight: 30px;
$desktop1440_bodyText_body3_lineHeight: 22px;

// -------------------------------------------LETTER SPACING------------------------------------------------------
$letter_spacing_title1: 3px;

// -------------------------------------------FONT-FAMILY------------------------------------------------------

$font_family_Gill-Sans:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


// -------------------------------------------MAX-WIDTH------------------------------------------------------

$wrapper_max-width: 1440px;

// -------------------------------------------COLORS------------------------------------------------------

$dark_yellow: rgba(255, 222, 17, 1);